<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="Academy.Listeners" />
	</listeners>

	<test name="Validating Positive test cases">
		<classes>
			<class name="Academy.FunctionalTest" />
			<class name="Academy.operationalTestcases"/>
			<class name="Academy.NegativeTest" />
		</classes>
	</test>
</suite> 
